<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802635703724-jkb80oka3ehg9uk2pi4l1bm60jh7h6k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802635703724-jkb80oka3ehg9uk2pi4l1bm60jh7h6k5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802635703724-6gi0e5hp81nho5c05kq85cc90ubi0u5u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOtDZYWxGWbKRpsGnlnno8Q9KtLwJC46s</string>
	<key>GCM_SENDER_ID</key>
	<string>802635703724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.edriveapp</string>
	<key>PROJECT_ID</key>
	<string>carapp-398e3</string>
	<key>STORAGE_BUCKET</key>
	<string>carapp-398e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802635703724:ios:582e0f7a50014c21cec609</string>
</dict>
</plist>